body {
    font-family: sans-serif;
    background-color: #bffad970;
}
.container-user {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-register-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px; 
}
h1, h2 {
    color:rgb(87, 87, 87);
}
.input-div {
    margin-bottom: 10px;
    width: 100%;
}
.button {
    padding: 10px;
    background-color: rgb(89, 89, 100);
    color: white;
}
.button:hover {
    background-color: black;
}
.layout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.form-container, .cart-info-container {
    width: 45%; 
}