<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Creation Error</title>
</head>
<body>
<div class="header">
    <h1>Online Book Store</h1>
</div>
<p th:text="'ERROR with account ' + ${errorType} + ': ' + ${error}"></p>
<div class="container-register-login">
    <a href="http://localhost:8080/register">
        <input type="submit" value="Register" class="button" />
    </a>
    <a href="http://localhost:8080/login">
        <input type="submit" value="Login" class="button" />
    </a>
</div>
</body>
</html>