<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Book Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="/src/main/java/public/stylesheets/general.css">
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="book-info">
        <img src="book-cover.jpg" alt="Book Cover">
        <div>
            <h1>Title: </h1>
        </div>
        <div class="book-title"></div>
        <div class="book-author"></div>
        <div>
            <p>Year: </p>
        </div>
        <div class="book-year"></div>
        <div>
            <p>Genre: </p>
        </div>
        <div class="book-genre"></div>
        <div class="book-description">
            <div>
                <h2>Description</h2>
            </div>
        </div>
    </div>
</body>
</html>
