<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Book Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<div class="header">
    <h1>Online Book Store</h1>
</div>
<form th:action="@{/listAvailableBooks}" method="get">
    <button type="submit">Back to Home</button>
</form>
<!-- Only show Edit button if the user is a bookstore owner -->
<div th:if="${userType == 'BOOKOWNER'}">
    <a th:href="@{/book/edit/{isbn}(isbn=${book.isbn})}">
        <button type="button">Edit Book Details</button>
    </a>
</div>
<div class="book-info">
    <div class="book-title">
        <h2 th:text="${book.getTitle()}"> </h2>
    </div>
    <div class="book-author">
        <p>Authors: <span th:text="${authors}"></span></p>
    </div>
    <img th:src="${book.getCover()}" alt="Book Cover">
    <div class="book-year">
        <p th:text="'Date of publication: ' + ${book.getDate()}"> </p>
    </div>
    <div class="book-publisher">
        <p th:text="'Publisher: ' + ${book.getPublisher()}"> </p>
    </div>
    <div class="book-genre">
        <p th:text="'Genre: ' + ${book.getGenre()}"></p>
    </div>
    <div class="book-price">
        <p th:text="'Price: $' + ${book.getPrice()}"></p>
    </div>
    <div class="book-description">
        <div>
            <p th:text="${book.getDescription()}"></p>
        </div>
    </div>
</div>
</body>
</html>