<!DOCTYPE HTML>
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            font-family: sans-serif;
            background-color: #bffad970;
        }
        h1, h2 {
            color:rgb(87, 87, 87);
        }
        .button {
            padding: 10px;
            background-color: rgb(89, 89, 100);
            color: white;
        }
        .button:hover {
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="main">
        <div>
            <h1>Checkout (Coming soon)</h1>
        </div>
    </div>
</body>
</html>
