<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/register-login.css}" />
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="layout-container">
        <div class="form-container">
            <h1>Checkout</h1>
            <form th:action="@{/checkout}" th:object="${user}" method="post">
                <div class="input-div">
                    <label for="fullName">Full Name:</label><br>
                    <input type="fullName" id="fullName" name="fullName" required>
                </div>
                <div class="input-div">
                    <label for="emailAddress">Email Address:</label><br>
                    <input type="emailAddress" id="emailAddress" name="emailAddress" required>
                </div>
                <div class="input-div">
                    <label for="address">Address:</label><br>
                    <input type="address" id="password" name="address" required>
                </div>
                <div class="input-div">
                    <label for="city">City:</label><br>
                    <input type="city" id="city" name="city" required>
                </div>
                <div class="input-div">
                    <label for="country">Country:</label><br>
                    <input type="country" id="country" name="country" required>
                </div>
                <div class="input-div">
                    <label for="postalCode">Postal Code:</label><br>
                    <input type="postalCode" id="postalCode" name="postalCode" required>
                </div>
                <div class="input-div">
                    <label for="cardNumber">Card Number:</label><br>
                    <input type="cardNumber" id="cardNumber" name="cardNumber" required>
                </div>
                <div class="input-div">
                    <label for="expiry">Expiry (MM/YY):</label><br>
                    <input type="expiry" id="expiry" name="expiry"required>
                </div>
                <div class="input-div">
                    <label for="cvvCode">CVV Code (3-digit):</label><br>
                    <input type="cvvCode" id="cvvCode" name="cvvCode" required>
                </div>
                <input type="submit" value="Order" class="button" />
            </form>
        </div>
        <div class="cart-info-container">
            <h2>Cart Information:</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                            <td th:text="${item.getBook().getTitle()}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td>$<span th:text="${item.getBook().getPrice()}"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total Price:</td>
                        <td>$<span th:text="${totalPrice}"></span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
