<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="index.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            function updateTotalInCart() {
                $.ajax({
                    url: '/getTotalInCart',
                    method: 'GET',
                    success: function (totalInCart) {
                        // Update the HTML element with the new total in the cart
                        $('#totalInCart').text(totalInCart);
                    },
                    error: function () {
                        console.error('Error fetching total in cart');
                    }
                });
            }
            updateTotalInCart();

            // Handle form submission
            $('#addToCartForm, #removeFromCartForm').submit(function(event) {
                // Collect selected items
                var selectedItems = [];
                $('input[name="selectedItems"]:checked').each(function() {
                    selectedItems.push($(this).val());
                });

                // Add selected items to a hidden field within the form
                $('<input>').attr({
                    type: 'hidden',
                    name: 'selectedItems',
                    value: selectedItems.join(',')
                }).appendTo($(this)); // Append to the current form
            });

            $(document).ready(function() {
                $('#sort').change(function() {
                    // Trigger form submission
                    // Set selected attribute directly on the selected option
                    $('#sort option:selected').removeAttr('selected');
                    $('#sort option[value="' + $(this).val() + '"]').attr('selected', 'selected');
                    $('#sortForm').submit();
                });
            });
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
</head>
<body>
<div class="header">
    <h1>Online Book Store</h1>
</div>
<th:block th:if="${user}">
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</th:block>
<p th:text="'Logged in as: ' + ${user.getUsername()}" />

<div>
    <form id="sortForm" th:action="@{/listAvailableBooks}" method="get">
        <div class="searchContainer">
            <label>
                <input type="text" placeholder="Search" name="searchValue">
            </label>
            <button type="submit">Submit</button>
        </div>
        <div class="sortContainer">
            <label for="sort">Sort by:</label>

            <select name="sort" id="sort">
                <option value="low_to_high" th:selected="${sort == 'low_to_high'}">Price: Low to High</option>
                <option value="high_to_low" th:selected="${sort == 'high_to_low'}">Price: High to Low</option>
                <option value="alphabetical" th:selected="${sort == 'alphabetical'}">Alphabetical</option>
            </select>
        </div>
    </form>
</div>

<div class="books-quantity">
    <h2>Total in Cart: <span th:id="totalInCart"></span></h2>
</div>

<div class="books-list">
    <h2>List of Books</h2>
</div>

<div class="container">
    <form th:action="@{/addToCart}" method="post" th:id="addToCartForm">
        <input type="submit" value="Add to Cart" class="button" />
    </form>
    <form th:action="@{/removeFromCart}" method="post" th:id="removeFromCartForm">
        <input type="submit" value="Remove from cart" class="button" />
    </form>
    <form th:action="@{/checkout}" method="get">
        <input type="submit" value="Checkout" class="button" />
    </form>
</div>

<div class="container">

    <table>
        <thead>
        <tr>
            <th>Select</th>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inventoryItem : ${inventoryItems}" th:if="${inventoryItem.quantity > 0}">
            <td><input type="checkbox" th:name="'selectedItems'" th:value="${inventoryItem.getId()}" /></td>
            <td>
                <img th:src="${inventoryItem.getBook().getCover()}" alt="Book Cover">
            </td>
            <td>
                <a th:href="@{/viewBook(isbn=${inventoryItem.getBook().getIsbn()})}" th:text="${inventoryItem.getBook().getTitle()}"></a>
            </td>
            <td th:text="${inventoryItem.getBook().getAuthor()[0].fullName}"></td>
            <td>$<span th:text="${inventoryItem.getBook().getPrice()}"></span></td>
        </tr>
        </tbody>
    </table>

    <p th:text="${error}" />

</div>
</body>
</html>
