<!DOCTYPE HTML>
<htmL lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/register-login.css}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="container-user">
        <div>
            <h1>Login</h1>
        </div>
        <form th:action="@{/login}" th:object="${user}" method="post">
            <div class="input-div">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" th:field="*{username}" required>
            </div>
            <div class="input-div">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <input type="submit" value="Login" class="button" />
            <th:block th:if="${loginError != null}">
                <script th:inline="javascript">
                    $(document).ready(function() {
                        toastr.error([[${loginError}]]);
                    });
                </script>
            </th:block>
        </form>
    </div>
</body>
</html>
