<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Register/Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{../css/register-login.css}" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="container-register-login">
        <a th:href="@{register}">
            <input type="submit" value="Register" class="button" />
        </a>
        <a th:href="@{login}">
            <input type="submit" value="Login" class="button" />
        </a>
    </div>
</body>
</html>
