<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Register/Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/src/main/java/public/stylesheets/register-login.css">
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="container-register-login">
        <a href="register.html">
            <input type="submit" value="Register" class="button" />
        </a>
        <a href="login.html">
            <input type="submit" value="Login" class="button" />
        </a>
    </div>
</body>
</html>
