<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/register-login.css}" />
</head>
<body>
    <div class="header">
        <h1>Online Book Store</h1>
    </div>
    <div class="container-user">
        <div>
            <h1>Register</h1>
        </div>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="input-div">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" th:field="*{username}" required>
            </div>
            <div class="input-div">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" th:field="*{password}" required>
            </div>
            <div class="input-div">
                <label for="userType1">User Type</label><br>
                <input id="userType1" name="userType" type="radio" value="BOOKUSER" checked="checked" th:field="*{userType}"/><label for="userType1">Bookstore User</label>
                <input id="userType2" name="userType" type="radio" value="BOOKOWNER"/><label for="userType2" th:field="*{userType}">Bookstore Owner</label>
            </div>
            <input type="submit" value="Register" class="button" />
        </form>
    </div>
</body>
</html>
